.admin-main {
  background: white;
  padding: 10px 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
}

.select-filter {
  background: white;
  padding-left: 200px;
}

.search-list-container {
  height: calc(100vh - 130px);
  overflow: auto;
}

.admin-list-div {
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 100px;
  background: white;
}
