.settings-menu-item {
    margin-top: 20px;
    padding-left: 40px;
}

.settings-menu-item:hover {
    cursor: pointer;
}
  
.user-photo {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-info {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
  
.user-title {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
  
.user-email {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.settings-list {
    margin-top: 40px;
}

.settings-list:hover {
    background-color: #eeeef1;
    cursor: pointer;
}
