.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  width: -webkit-fill-available;
}

.conversation-list-item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  width: -webkit-fill-available;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
  width: -webkit-fill-available;
}

.conversation-status {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  margin-left: 5px;
  width: -webkit-fill-available;
}