.search-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.search-list-item:hover {
  background: #eeeef1;
}

.search-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.search-title {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.search-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.search-add-button {
  position: absolute;
  right: 20px;
}
