.settings-group-div {
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 100px;
}

.group-add-btn {
  margin-bottom: 10px;
}

.settings-group-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.settings-group-list-item:hover {
  background: #eeeef1;
}

.settings-group-title {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.group-delete-div {
  position: absolute;
  right: -35px;
  cursor: pointer;
}

.group-delete-btn {
  width: 35px;
  height: 35px;
  color: red;
}
