.group-button {
    color: #007aff;
    font-size: 35px;
    transition: all 0.1s;
  }
  
.group-button:hover {
  cursor: pointer;
  color: #0063ce;
}
  
.group-button:active {
  color: #007aff;
  opacity: 0.25;
}

.group-label {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
