.admin-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.admin-list-item:hover {
  background: #eeeef1;
}

.admin-add-button {
  position: absolute;
  right: 10px;
}
