.settings-user-photo {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.settings-user-photo:hover {
    cursor: pointer;
}

.settings-profile {
    text-align: center;
    margin-top: 50px;
}

.input-name {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.input-firstname-lastname {
    margin-bottom: 0px;
}

.input-change-password {
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.button-change-password {
    top: 10px;
}

.button-name-submit {
    float: right;
    top: 10px;
}
