.message-list-container {
  padding: 10px;
  /* padding-bottom: 70px; */
  height: calc(100vh - 108px);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.icon-button-opt {
  padding: 0 !important;
}

.delete-option {
  color: red !important;
}

.info-photo {
  width: 100% !important;
}

.wrapping-fields {
  word-break: break-all !important;
}
