.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: sticky;
  width: 100%;
  bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: solid;
  border-color: #0063ce;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  background: none;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 40px;
  min-width: 40px;
}

/* .compose .toolbar-button:hover {
  color: #99999c;
} */