.login-page {
    text-align: -webkit-center;
    max-height: 280px;
}

.MuiAvatar-root {
    top: 5px;
}

.login-form {
    margin: 5px;
}

.login-link {
    text-align: -webkit-center;
}

.login-card {
  text-align: -webkit-center;
  position: relative;
  margin-top: 30px;
  margin-left: calc(50% - 250px);
  max-width: 500px;
}