.search-main {
  padding: 10px 300px;
  padding-right: 300px;
  display: flex;
  align-items: center;
}

.paper-search {
  width: 100%;
}

.input-search {
  flex: 1;
  padding: 7px;
  width: calc(100% - 48px);
}

.icon-button-search {
  padding: 10;
  float: right;
}

.search-list-div {
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 30px;
}

.search-loader {
  margin-left: calc(50% - 60px);
}