.register-card {
  position: relative;
  margin-top: 30px;
  margin-left: calc(50% - 300px);
  max-width: 600px;
}

.register-button {
  text-align: center;
}

.register-form {
  margin: 10px;
}

.register-email-form, .register-password-form {
  width: 50%;
}

#response-text {
  word-wrap: break-word;
}